*{
    font-family: "Ubuntu", sans-serif;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

a, a:hover{
    color: white;
    cursor: pointer;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.show-my-token{
    overflow: hidden;
    background-color: #F4F5ED;
    color: #DC4E00;
    display: block;
    height: 0;
}

.show-my-token.open{
    height: 90px;
}

.show-my-token p{
    padding: 20px;
}


nav.menu{
    min-height: 40px;
    background: #DC4E00;
    border-radius: 4px;
    padding: 0 10px;
}

nav.menu.open{
    padding: 0 10px 10px 10px;
}

nav > a{
    line-height: 40px;
}

#message-template {
    display: none;
}

#message-list{
    margin-top: 10px;
}

.message{
    background: #F4F5ED;
    border: 1px solid #C7C9BE;
    border-radius: 4px;
    padding: 10px;
    z-index: 1;
    margin-bottom: 10px;
}

.message > p{
    margin-top: 0;
    color: #595959;
}

.message > .info{
    font-size: 12px;
    position: relative;
    color: #929487;
    z-index: 50;
    position: relative;
}

.message > .info > *{
    position: relative;
    margin-right: 20px;
}

.message > .info > *:before{
    display: block;
    position: absolute;
    top: -10px;
    content: 'Created at';
    font-size: 10px;
    z-index: 49;
    left: 0;
}

.message > .info > .level:before{
    content: 'Level';
}

.message > .info > .user:before{
    content: 'User';
}

