<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Viasto Messenger</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="{% static 'css/messenger.css' %}">
    </head>
    <body>
        <div class="wrapper">
            {% block content %}{% endblock %}
        </div>
        <script src="{% static 'js/scripts.js'%}"></script>
        {% block footer %}{% endblock %}
    </body>
</html>

