{% extends "base.html" %}
{% load url from future %}
{% load static %}
{% block content %}
<div>
    <nav class="menu">
        {% if user.is_anonymous %}
            <a href="{% url 'login' %}">Login</a> &bull;
            <a href="{% url 'register' %}">Register</a>
        {% else %}
            <a id="my-token">My token</a> &bull;
            <a href="{% url 'logout' %}">Logout</a>
            <div class="show-my-token">
                <p>Your token is <strong>{{user.auth_token.key}}</strong></p>
            </div>
        {% endif %}
    </nav>
    <section id="message-list">
        <article class="message" id="message-template">
            <p class="content"></p>
            <div class="info">
                <span class="created_at"></span>
                <span class="level"></span>
                <span class="user"></span>
            </div>
        </article>
    </section>
</div>
{% endblock %}
{% block footer %}
    <script>
        window.message_list_url = "{% url 'message-list' %}";
    </script>
    <script src="{% static 'js/moment-with-locales.min.js'%}"></script>
    <script src="{% static 'js/messenger.js'%}"></script>
{% endblock %}