{% extends "base.html" %}
{% load url from future %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{% url 'home' %}">
    {{form.as_p}}
    <button>Enter</button>
</form>
{% endblock %}