{% extends "base.html" %}
{% load url from future %}

{% block content %}

{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <p>{{error}}</p>
    {% endfor %}
{% endif %}

<form method="post" action="{% url 'register' %}">
    {% csrf_token %}
    {{form.as_p}}
    <button>Enter</button>
</form>
{% endblock %}