{% extends "base.html" %}
{% load url from future %}

{% block content %}
    <h1>Welcome</h1>
    <p>Your account has been created, now you can <a href="{% url 'login' %}">login</a>.</p>
{% endblock %}